<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/colors.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sizes.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/flashed_messages.css')}}" />
    <title>Satisfactory Saver</title>
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="{{url_for('static', filename='img/ficsit_cup.png')}}" width="40" height="40">
            &nbsp;
            <strong class="white_color">Satisfactory Saver</strong>
            <nav>
              {% if current_user.is_authenticated %}
                <div class="row">
                  <p>{{current_user.login}}</p>&nbsp;
                  <a class="navbar-brand" href="/logout">Logout</a>
                </div>
              {% else %}
                <p>
                  <a class="btn btn-primary " href="/register">Register</a>
                  <a class="btn btn-success" href="/signin">Sign in</a>
                </p>
              {% endif %}
            </nav>
          </a>
        </div>
      </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes no_dots text-center">
        {% for category, message in messages %}
          <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% if not not_load_help_project_footer %}
      <footer class="border-top border-danger my-2 pt-2 text-muted text-center text-small">
        <p><a href="/help_project">Help project</a></p>
      </footer>
    {% endif %}
  </body>
</html>
