{% extends "base.html" %}
{% block content %}
<div class="py-5 container text-center" xmlns="http://www.w3.org/1999/html">
  <div class="row row-cols-2 g-3">
    {% for session in sessions %}
      {% if session.is_active %}
        <div class="py-2 col-md-6">
          <div class="card shadow-sm text-center session-card">
            {% if session.is_online %}
              <p class="lightgreen black_color session_status">online</p>
            {% else %}
              <p class="lightred black_color session_status">offline</p>
            {% endif %}
            <img width="100%" height="200" src="{{url_for('all_savings', filename=session.photo_path.split('all_savings')[1])}}">
            <div class="card-body">
              <p>
                <b class="text-muted">-------------Card info-------------</b><br>
                <small class="text-muted">Card name: {{session.name}}</small><br>
                <small class="text-muted">Card description: {{session.description}}</small><br>
                <b class="text-muted">--------------Creator--------------</b><br>
                <small class="text-muted">Creator`s discord: {{session.creator.discord}}</small><br>
                <small class="text-muted">Creator`s login: {{session.creator.login}}</small><br>
                {% if session.is_online %}
                  <b class="text-muted">------------Online info------------</b><br>
                  <small class="text-muted">Last opener`s discord: {{session.last_opener.discord}}</small><br>
                  <small class="text-muted">Last openers`s login: {{session.last_opener.login}}</small><br>
                  {% if session.info["game_session_type"] == "1" %}
                    <small class="text-muted">Last opener`s platform: {{session.info["owner_platform"]}}</small><br>
                    <small class="text-muted">Last opener`s account on this platform: {{session.info["owner_account_name"]}}</small><br>
                    <small class="text-muted">Game session type: Friends only</small><br>
                  {% else %}
                    <small class="text-muted">Game session type: Private</small><br>
                  {% endif %}
                  <small class="text-muted">Game session id: {{session.info["game_session_id"]}}</small><br>
                {% endif %}
                <b class="text-muted">------------Saving info------------</b><br>
                <small class="text-muted">Last upload date: {{session.savings[-1].upload_date.strftime("%Y-%m-%d %H:%M")}}</small>
              </p>
              <div class="btn-group">
                {% if not session.is_online or (session.is_online and session.last_opener_id == current_user.id) %}
                  <button class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('load_saving_inp_{{session.session_id}}').click()">Load new saving</button>
                  <form action="" enctype="multipart/form-data" method="post" novalidate>
                    <input type="file" name="load_saving_inp_{{session.session_id}}" id="load_saving_inp_{{session.session_id}}" onchange="this.form.submit()" hidden>
                  </form>
                {% endif %}
                <a href="{{url_for('all_savings', filename=session.savings[-1].saving_path.split('all_savings')[1])}}" download>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Download saving</button>
                </a>
                {% if not session.is_online %}
                  <a href="sessions/info/online/{{session.session_id}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Turn online</button>
                  </a>
                {% elif session.last_opener_id == current_user.id %}
                  <a href="sessions/info/offline/{{session.session_id}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Turn offline</button>
                  </a>
                {% endif %}
              </div>
              {% if session.creator_id == current_user.id %}
                </br>
                <a href="/sessions/edit/{{session.session_id}}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </a>
                <a href="/sessions/delete/{{session.session_id}}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% if current_user.is_authenticated %}
    {% for privilege in current_user.privileges %}
      {% if privilege.key_name == PRIVILEGES[1]["key_name"] %}
        </br>
        <a href="/sessions/add">
          <button type="button" class="w-200 btn btn-sm btn-outline-secondary">Add</button>
        </a>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
{% endblock %}