.form-center {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  align-items: center;
}
.centerized_horizontal {
    margin-left: auto;
    margin-right: auto;
}
ul.no_dots {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


.session-card img {
    max-width: 400px;
    margin: auto;
}
.session_status {
    width: 400px;
    margin: auto;
}



@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}